<link rel="stylesheet" href="/stylesheets/styles.css">


<nav class="navbar navbar-expand-lg navbar navbar-light static-top" style="background-color: #18e4e4;">
    <div class="container">
        <a class="navbar-brand" href="/home">FurEver 🐶 💕  It's a pawesome match!</a>
        <!-- <i class="fas fa-paw" title="Paw" aria-hidden="true"></i>
        <i class="fas fa-grin-hearts" title="Heart" aria-hidden="true"></i>          </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/petslist">Home
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/petslist">Adopt a pet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pets/create">List a pet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mypets">My pets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="/login">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
