${header}
${nav}

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
              <h3 class="login-heading mb-4">Update information about the pet here!</h3>    
  
        <form method="POST">
          <form class="form-signin">
    <div class="form-label-group">
      <input type="text" value="${name}" id="inputName" class="form-control" name="name" >
      <label for="Name">Name</label>
    </div>
<br>
      <div class="form-label-group">
        <input type="text" value="${image}" id="inputImage" class="form-control" name="image" >
        <label for="Image">Image</label>
      </div>
<br>

        <div class="form-label-group">
          <input type="text" value="${species}" id="inputBirthdate" class="form-control" name="species" >
          <label for="Species">Species</label>
        </div>
<br>
<div class="form-label-group">
  <input type="text" value="${breed_id}" id="inputBreed" class="form-control" name="breed_id" >
  <label for="Breed">Breed</label> 
</div>
  <!-- NEEDS TO GET UPDATED WITH BREED -->
<br>

<div class="form-label-group">
  <input type="date" value="${birthdate}" id="inputSpecies" class="form-control" name="birthdate" >
  <label for="Birthdate">Birthdate</label>
</div>
<br>
  <div class="form-label-group">
    <input type="text" value="${pet_location}" id="inputLocation" class="form-control" name="pet_location" >
    <label for="Location">Pet Location</label>
  </div>
<br>

<div class="form-label-group">
  <input type="text" value="${color}" id="inputColor" class="form-control" name="color" >
  <label for="Color">Color</label>
</div>
<br>

<div class="form-label-group">
  <input type="text" value="${gender}" id="inputGender" class="form-control" name="gender" >
  <label for="Gender">Gender</label>
</div>
<br>

<div class="form-label-group">
  <input type="text" value="${size}" id="inputSize" class="form-control" name="size" >
  <label for="Size">Size</label>
</div>
<br>


<div class="form-label-group">
  <input type="text" value="${pet_description}" rows="3" id="inputDescription" class="form-control" name="pet_description" >
  <label for="Description">Description</label>
</div>
<br>
</div>
<div>
  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Save</button>               
  </form>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


${footer}
