
${header}
${nav}
  <form method="POST">
    <label>
      Name:
      <input name="name" value="${name}">
    </label>
    <br>
    <label>
      Image_upload:
      <input name="image" value="${image}">
    </label>
    <br>
    <label>
      Species:
      <input name="species" value="${species}">
    </label>
    <br>
    <label>
      Birthdate:
      <input type="date" name="birthdate" value="${birthdate}" placeholder="1999-12-31">
    </label>
    <br>
    <label>
      Pet_location:
    <input name="pet_location" value="${pet_location}">
    </label>
    <br>
    <label>
      color:
    <input name="color" value="${color}">
    </label>
    <br>
    <label>
      Gender:
    <input name="gender" value="${gender}">
    </label>
    <br>
    <label>
      Pet_description:
    <input name="pet_description" value="${pet_description}">
    </label>
    <br>
    <select>
      <option value="1">Pomeranian</option>
      <option value="2">Dachshund</option>
      <option value="3">Golden Retriever</option>
      <option value="4">Corgi</option>
      <option value="5">American Bulldog</option>
    </select>
    <input type="submit">
  </form>
${footer}