<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pets!</title>
</head>
<body>
  <form method="POST">
    <label>
      Name:
      <input name="name" value="${name}">
    </label>
    <br>
    <label>
      Image_upload:
      <input name="image" value="${image}">
    </label>
    <br>
    <label>
      Species:
      <input name="species" value="${species}">
    </label>
    <br>
    <label>
      Birthdate:
      <input type="date" name="birthdate" value="${birthdate}" placeholder="1999-12-31">
    </label>
    <br>
    <label>
      Pet_location:
    <input name="pet_location" value="${pet_location}">
    </label>
    <br>
    <label>
      color:
    <input name="color" value="${color}">
    </label>
    <br>
    <label>
      Gender:
    <input name="gender" value="${gender}">
    </label>
    <br>
    <label>
      Pet_description:
    <input name="pet_description" value="${pet_description}">
    </label>
    <br>
    <input type="submit">
  </form>
</body>
</html>