${header}
${nav}

<div class="container no-flex">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">




              <h3 class="login-heading mb-4">Edit your profile</h3>
              <form method="POST">

                <div class="form-label-group">
                  <input type="text" value="${user_name}" id="inputName" class="form-control" name="user_name" >
                  <label for="Name">Username</label>
                </div>
            
                <!-- <div class="form-label-group">
                  <input type="password" value="${hash}" id="inputName" class="form-control" name="hash" >
                  <label for="Password">Password</label>
                </div>
             -->

                <div class="form-label-group">
                  <input type="text" value="${first_name}" id="inputName" class="form-control" name="first_name" >
                  <label for="First Name">First Name</label>
                </div>

                <div class="form-label-group">
                  <input type="text" value="${last_name}" id="inputName" class="form-control" name="last_name" >
                  <label for="Last Name">Last Name</label>
                </div>

             
                <div class="form-label-group">
                  <input type="text" value="${email}" id="inputName" class="form-control" name="email" >
                  <label for="Last Name">Email</label>
                </div>

                <div class="form-label-group">
                  <input type="text" value="${phone_number}" id="inputName" class="form-control" name="phone_number" >
                  <label for="Phone Number">Phone Number</label>
                </div>
             
             
                <div class="form-label-group">
                  <input type="text" value="${user_location}" id="inputName" class="form-control" name="user_location" >
                  <label for="City">City</label>
                </div>
             

                <br>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                  type="submit">Save</button>
                <div class="text-center"></div>
                <button class="btn btn-lg btn-primary btn-block btn-reset text-uppercase font-weight-bold mb-2"
                  type="reset">Reset</button>
                <div class="text-center"> </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

${footer}