${header}
${nav}
<br>
<div class="text-container">
  <h2>💜 Please take a look at all of these furry cuties looking for their furever family! 💜</h2>
  <br>
  <h2>💜 Will you be the one? 💜 </h2>

</div>
${thePets.map(pet => `

<div class="container">
<br>

<div class="pet-container">

  <div class="card" style="width:400px">
    <img class="card-img-top" src="/images/${pet.image}" alt="Pet image" style="width:100%">
    <div class="card-body">
      <h2>Hi my name is ${pet.name}! </h2>
      <p>I am looking for my furever family!</p>
  <ul>
    <li>I am a ${pet.size} ${pet.species}</li>
    <li>My breed is ${pet.breed}</li>
    <li>I was born on ${pet.birthdate}</li>
    <li>My color is ${pet.color}</li>
    <li>My gender is ${pet.gender}</li>
    <li>I am located in ${pet.pet_location}</li>
  </ul>
  <p class="card-text">${pet.pet_description}</p>

  <a href="/breed/${pet.breed_id}" class="btn btn-primary">Breed Information</a>
  <a href="/pets/${pet.id}/edit" class="btn btn-primary">Update</a>
</div>
</div>
</div>
</div>

`).join('')}
<br>
${footer}