${header}
${nav}
<br>
<div class="container">
    <h2>Hi my name is ${name}!</h2>
    <p>I am looking for my furever family!</p>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="/images/${image}" alt="Pet image" style="width:100%">
      <div class="card-body">
        <ul>
            <li>I am a ${species}</li>
            <li>My breed is ${breed_id}</li>
            <li>I was born on ${birthdate}</li>
            <li>My color is ${color}</li>
            <li>My gender is ${gender}</li>
            <li>I am located in ${pet_location}</li>
          </ul>            
          <p class="card-text">${pet_description}</p>
        <a href="/breed/${breed_id}" class="btn btn-primary">Breed Information</a>
        <a href="/pets/${id}/edit" class="btn btn-primary">Update</a>

      
      </div>
    </div>
</div>
<br>

${footer}




<!-- <p><a href="/breed/${breed_id}" class="button">Breed Information</a></p> -->
