${header}
${nav}

<div class="card">
  <h1>Hi my name is ${name}! </h1>
  <img src="/images/${image}" alt="${name}" style="width:100%">
  <p class="title">I am looking for my furever family!</p>
  <ul>
    <li>I am a ${species}</li>
    <li>My breed is ${breed_id}</li>
    <li>I was born on ${birthdate}</li>
    <li>My color is ${color}</li>
    <li>My gender is ${gender}</li>
    <li>I am located in ${pet_location}</li>
  </ul>
  <p>${pet_description}</p>

  <p><a href="/breed/${breed_id}" class="button">Breed Information</a></p>
</div>

${footer}