${header}
${nav}

${thePets.map(pet => `
  <div class="card">
    <h1>Hi my name is ${pet.name}! </h1>
  <img src="/images/${pet.image}" alt="${pet.name}" style="width:100%">
  <p class="title">I am looking for my furever family!</p>
  <ul>
    <li>I am a ${pet.species}</li>
    <li>My breed is ${pet.breed_id}</li>
    <li>I was born on ${pet.birthdate}</li>
    <li>My color is ${pet.color}</li>
    <li>My gender is ${pet.gender}</li>
    <li>I am located in ${pet.pet_location}</li>
  </ul>
  <p>${pet.pet_description}</p>

  <p><a href="/" class="button">Breed Information</a></p>
`).join('')}

${footer}