

${header}
${nav}

<div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Update your personal information here!</h3>    
    <form method="POST">
    <label>
        Username:
            <input name="name" value="${user_name}">
          </label>
      <label>
        First Name:
        <input name="name" value="${first_name}">
      </label>
      <br>
      <label>
        Last Name:
        <input name="name" value="${last_name}">
      </label>
      <br>
      <label>
        E-Mail:
        <input name="email" value="${email}">
      </label>
      <br>
      <label>
        Birthdate:
        <input name="Phone number" value="${phone_number}">
      </label>
      <br>
      <label>
        Location:
      <input name="user_location" value="${user_location}">
      </label>
      <br>
      
      <input type="submit">
    </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div> 
  
  
${header}
${nav}

<h1>Here are my pets</h1>

${userPets.map(pet => `
<div class="card">
  <h1>Hi my name is ${pet.name}! </h1>
  <img src="/images/${pet.image}" alt="${pet.name}" style="width:100%">
  <p class="title">I am looking for my furever family!</p>
  <ul>
    <li>I am a ${pet.species}</li>
    <li>My breed is ${pet.breed_id}</li>
    <li>I was born on ${pet.birthdate}</li>
    <li>My color is ${pet.color}</li>
    <li>My gender is ${pet.gender}</li>
    <li>I am located in ${pet.pet_location}</li>
  </ul>
  <p>${pet.pet_description}</p>

  <p><a href="/breed/${pet.breed_id}" class="button">Breed Information</a></p>
  <p><a href="/pets/${pet.id}/edit" class="button">Edit</a></p>
</div>
`).join('')}

${footer}