${header}
${nav}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">

    <h3 class="login-heading mb-4">Please register to meet your new furry best friend!</h3>
    <form method="POST">
    <form class="form-signin">

      <div class="form-label-group">
        <input type="text" id="inputUser" class="form-control" name="user_name" >
        <label for="inputUser">Username</label>

    </div>
      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" name="password" >
        <label for="inputPassword">Password</label>  
    </div>
      <div class="form-label-group">
        <input type="text" id="firstName" class="form-control" name="first_name">
        <label for="firstName">First Name</label>  
    </div>
      <div class="form-label-group">
        <input type="text" id="lastName" class="form-control" name="last_name">
        <label for="lastName">Last Name</label>  
    </div>
    <div class="form-label-group">
        <input type="text" id="email" class="form-control" name="email">
        <label for="email">E-Mail</label>  
    </div>
      <div class="form-label-group">
        <input type="text" id="phone" class="form-control" name="phone_number">
        <label for="email">Phone number</label>  
    </div>  
      <div class="form-label-group">
        <input type="text" id="location" class="form-control" name="user_location">
        <label for="location">City</label>
  
    </div>  
<button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Register</button>
        <div class="text-center"></div>
<button class="btn btn-lg btn-primary btn-block btn-reset text-uppercase font-weight-bold mb-2" type="reset">Reset</button>
<br>
<div class="text-center">    
  <div class="form-group">
    <p class="text-center">Already have an account? <a href="/login" id="login">Login here</a></p>
 </div>   
        </form>
      </form>
    </div>
</div>
</div>
</div>
</div>
</div>
        <!-- <label>
            Username:
            <input type="text" name="user_name">            
        </label>
        <br>
        <label>
            Password:
            <input type="password" name="password">
        </label>
        <br>
        <label>
            FirstName:
            <input type="text" name="first_name">            
        </label>
        <br>
        <label>
            LastName:
            <input type="text" name="last_name">
        </label>
        <br>
        <label>
            Email:
            <input type="text" name="email">
        </label>
        <br>
        <label>
            PhoneNumber:
            <input type="text" name="phone_number">            
        </label>
        <br>
        <label>
            Location:
            <input type="text" name="user_location">
        </label>
        <br>
        
        <input type="submit" value="Submit!">
        <input type="reset">
    </form> -->
    
    ${footer}